streamlit==1.35.0
google-generativeai
PyMuPDF
Pillow
streamlit
langchain
langchain-google-genai
langchain-experimental
pypdf
pyvis
networkx
sentence-transformers
langchain-text-splitters

